# Ignore everything by default
*

# Keep these directories and their contents
!api/
!api/**
!include/
!include/**
!config/
!config/**
!impl/
!impl/**
!tests/
!tests/**
!docu/

# Keep specific files in root
!Makefile
!README.md
!dev_notes.md
!.gitignore